<nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div id="navigation_mobile" class="visible-sm visible-xs">
                    <button class="button_nav" id="showLeft"><i class="icon-reorder"></i> </button>   
                </div>              
                <div id="logo"><a href="#home"><%= image_tag ('logo-icon.png') %></a></div>
                
                <div id="navigation" class="visible-md visible-lg">
                    <ul id="sections">
                        <li class="current"><a href="#home">Home</a></li>
				        <li><%= link_to "Sign in", new_session_path(User) %></li>
				        <li><%= link_to "Sign up", new_registration_path(User) %></li> 
                    </ul>
                </div>

            </div>    
        </div>    
    </div>    
</nav>  
<!-- MOBILE NAV -->  
<div class="cbp-spmenu visible-sm visible-xs" id="cbp-spmenu">
    <button id="close-cbp-spmenu" class="btn-close-menu pull-right"><i class="icon-remove"></i> </button> 
    <h3>Menu</h3>
    <div id="menu-search">
        <form class="form-search">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                  <button type="submit" class="btn btn-danger"><i class="icon-search"></i></button>
              </span>
          </div>
      </form>
    </div>
    <ul id="sections_mobile">
        <li class="current"><a href="#">Home</a></li>
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Concepts</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Football</a></li>
        <li><a href="#">Hockey</a></li>
        <li><a href="#">Basketball</a></li>   
        <li><a href="#">Baseball</a></li>   
    </ul>
</div> 
<div class="row">
    <div class="container">
       
    </div>  
</div>

<script>
$( document ).ready(function() {
   $('#showLeft').click(function() {
        $('#cbp-spmenu').css({left: '0px'});
    });

   $('#close-cbp-spmenu').click(function(){
        $('#cbp-spmenu').css({left: '-240px'})
   })
});
</script>